<h2>Manishkumar Vishwakarma</h2>
<div style="text-align: center;">
    <p>Hello there! I'm Manishkumar Vishwakarma, the creative mind behind Mybrary. Combining my passion for both web
        development and literature, I've sculpted this platform into a haven for book enthusiasts and authors alike. My
        driving aspiration is to deliver a seamless, user-centric experience that seamlessly connects readers with
        authors and their literary creations.</p>
    <p>Embark on your reading journey by diving into our meticulously curated collection of authors and their published
        gems. Whether you're seeking established names or hidden literary treasures, Mybrary's comprehensive database
        has something for everyone.</p>
    <p>The home page show earliest top ten books.</p>
    <img src="../docs/HomePage.png" alt="HomePage.png" style="width: 630px; height: 330px;">
    <p>Authors page show the authors and has search bar to search specific author.</p>
    <img src="../docs/AuthorsPage.png" alt="AuthorsPage.png" style="width: 630px; height: 330px;">
    <p>Add author page is use to create an author.</p>
    <img src="../docs/AddAuthorPage.png" alt="AddAuthorPage.png" style="width: 630px; height: 330px;">
    <p>The website encompasses a range of features, including dedicated pages for authors and books. Discover insightful
        author profiles, each showcasing their contributions to the world of literature. Utilize the search bar to
        effortlessly find your favorite authors or specific books that have left an indelible mark on your heart.</p>
    <img src="../docs/AuthorDetailPage.png" alt="AuthorDetailPage.png" style="width: 630px; height: 330px;">
    <p>Book page is used to show books which are added by all the authors and has search bar to search specific author
        by thier title, date. </p>
    <img src="../docs/BooksPage.png" alt="BooksPage.png" style="width: 630px; height: 330px;">
    <p>Add book page is used to add a book of particular author with book details such as published date, book name,
        page count, author name, book cover image, description.</p>
    <img src="../docs/NewBooksPage.png" alt="NewBooksPage.png" style="width: 630px; height: 330px;">
    <p>As a devoted bibliophile, I understand the importance of connecting with the essence of a book. That's why each
        book entry comes complete with essential details, including publishing date, page count, author information, and
        even an evocative cover image. Dive into the rich descriptions to get a taste of the literary wonders awaiting
        you.</p>
    <img src="../docs/BookDetailPage.png" alt="BookDetailPage.png" style="width: 630px; height: 330px;">
    <p>The Mybrary community is an ever-growing tapestry of book enthusiasts, and I'm thrilled to have you embark on
        this literary adventure with us. Whether you're a reader looking for your next captivating read or an author
        seeking to share your masterpieces, Mybrary welcomes you with open arms.</p>
</div>